.navBar,
.navBarBg {
  background-color: #50c3e3;
  justify-content: space-between;
}

.navBar ul {
  list-style: none;
}

.home {
  margin-right: 20px;
}

.titulo {
  font-size: 2rem;
}

.opcionLink {
  font-size: 2rem;
}

.carritoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carritoImg {
  width: 50px;
  height: 50px;
}

.msgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.msg {
  margin-top: 20px;
  font-size: 2rem;
}

.ulCarrito li {
  list-style: none;
  margin-top: 10px;
  padding-left: 7px;
}

.ulComprar {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}

.ulComprar li {
  padding-right: 10px;
}